<h1>{{ category.name }}</h1>

{% for post in posts %}

  {% include 'AppBundle:Post:show.html.twig' %}

{% endfor %}

<p class="text-center">
  {% if prev_page > -1 %}
    <a href="?p={{ prev_page }}" class="btn btn-default btn-sm">
      <span class="fa fa-chevron-circle-left"></span>
    </a> &nbsp;
  {% endif %}
  Page {{ current_page }} sur {{ total_pages }}
  {% if next_page %}
    &nbsp; <a href="?p={{ next_page }}" class="btn btn-default btn-sm">
      <span class="fa fa-chevron-circle-right"></span>
    </a>
  {% endif %}
</p>
