{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Permissions pour l'éditeur {{ publisher.name }}
{% endblock %}

{% block main %}

  <h1>
    Éditeur
    <a href="{{ path('publisher_edit', { id: publisher.id }) }}">
      {{ publisher.name }}
    </a>
  </h1>

  <h2>Utilisateur·ices autorisé·es</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Utilisateur·ice</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for right in publisher.rights %}
      <tr>
        {% if right.user %}
          <td>
            <a href="{{ path('admin_user_informations', { id: right.user.id }) }}">
              {{ right.user.email }}
            </a>
          </td>
          <td>
            <a href="{{ path('publisher_rights_remove', {
              publisherId: publisher.id,
              userId: right.user.id
            }) }}" class="btn btn-danger btn-sm" title="Retirer les droits de {{ right.user.email }}">
              <i class="fa-solid fa-user-minus"></i>
              Retirer
            </a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <form id="user-add" class="form-inline"
                action="{{ path('publisher_rights_add', { id: publisher.id }) }}"
                method="post"
          >
            <input type="email" class="form-control" id="email" aria-label="Adresse e-mail"
            name="user_email" placeholder="Adresse e-mail" required>
          </form>
        </td>
        <td>
          <button form="user-add" type="submit" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-user-plus"></i>
            Ajouter
          </button>
      </tr>
    </tfoot>
  </table>

{% endblock %}
