{% extends "layout:base.html.twig" %}

{% block title %}
  {{ staticPage.title }}
{% endblock %}

{% block main %}

  {% if not staticPage.isOnline %}
    <p class="alert alert-warning">
      <span class="fa fa-warning"></span>
      Cette page est hors-ligne et n'est prévisualisable que par les administrateurs.
    </p>
  {% endif %}

  <article id="static-page-{{ staticPage.url }}" class="page static-page">
    <h1 class="page-title static-page__title">{{ staticPage.title }}</h1>

    {{ staticPage.content|raw }}
  </article>

  {% if app.currentUser.isAdmin %}
    <div class="admin">
      <p>Page n&deg; {{ staticPage.id }}</p>
      <p><a href="/pages/adm_page?id={{ staticPage.id }}">modifier</a></p>
      <p><a href="/pages/adm_page?del={{ staticPage.id }}" data-confirm="Voulez-vous vraiment SUPPRIMER la page {{ staticPage.title }} ?">supprimer</a></p>
    </div>
  {% endif %}
{% endblock %}
