<h1>Erreur 404</h1>

<p>Cette page n'existe pas !</p>

{% if app.user.isAdmin %}
    <p class="alert alert-danger">
        <strong>{{ exceptionClass }}</strong><br />
        {{ exception.message }}
    </p>

    Détails:

    <ul>
        <li>
            in
            <strong>{{ exception.file }}</strong>
            on line
            <strong>{{ exception.line }}</strong>
        </li>
        {% for trace in exception.trace %}
            <li>
                in
                <strong>{{ trace.file }}</strong>
                on line
                <strong>{{ trace.line }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endif %}
