{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Erreur 500 : une erreur est survenue
{% endblock %}

{% block main %}
  <h1>Une erreur est survenue.</h1>

  <p class="alert alert-danger">
    <strong>{{ exceptionClass }}</strong><br/>
    {{ exception.message }}
  </p>

  Détails:

  <ul>
    <li>
      in
      <strong>{{ exception.file }}:{{ exception.line }}</strong>
    </li>
    {% for trace in exception.trace %}
      <li>
        in
        {% if trace.file is defined %}
          <strong>{{ trace.file }}:{{ trace.line }}</strong>
        {% elseif trace.function is defined %}
          <strong>{{ trace.class }}{{ trace.type }}{{ trace.function }}</strong>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if exception.previous %}
    <p class="alert alert-danger">
      {{ exception.previous.message }}
    </p>

    Détails:

    <ul>
      <li>
        in
        <strong>{{ exception.previous.file }}:{{ exception.previous.line }}</strong>
      </li>
      {% for trace in exception.previous.trace %}
        <li>
          in
          {% if trace.file is defined %}
            <strong>{{ trace.file }}:{{ trace.line }}</strong>
          {% elseif trace.function is defined %}
            <strong>{{ trace.class }}{{ trace.type }}{{ trace.function }}</strong>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
