{% extends "layout:base.html.twig" %}

{% block title %}
  Erreur 500 : une erreur est survenue
{% endblock %}

{% block main %}
  <h1>Une erreur est survenue.</h1>

  <p class="alert alert-danger">
    <strong>{{ exceptionClass }}</strong><br/>
    {{ exception.message }}
  </p>

  Détails:

  <ul>
    <li>
      in
      <strong>{{ exception.file }}:{{ exception.line }}</strong>
    </li>
    {% for trace in exception.trace %}
      <li>
        in
        {% if trace.file is defined %}
          <strong>{{ trace.file }}:{{ trace.line }}</strong>
        {% elseif trace.function is defined %}
          <strong>{{ trace.class }}{{ trace.type }}{{ trace.function }}</strong>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
