{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Commandes
{% endblock %}

{% block main %}

  <h1>
    <span class="fa-solid fa-box"></span>
    Commandes web
  </h1>

  <form id="showOrders" class="fieldset">
    <fieldset>
      <legend>Filtres</legend>

      <div class="form-group row">
        <label for="order_status" class="col-sm-2 col-form-label">Statut</label>
        <div class="col-sm-10">
          <select id="order_status" class="form-control">
            <option value="0">Tout</option>
            <option value="1"{{ app.request.get('status') == 1 ? ' selected' }}>&Agrave; payer</option>
            <option value="2"{{ app.request.get('status') == 2 ? ' selected' }}>&Agrave; expédier</option>
            <option value="3"{{ app.request.get('status') == 3 ? ' selected' }}>&Agrave; mettre à dispo.</option>
            <option value="4"{{ app.request.get('status') == 4 ? ' selected' }}>Annulées</option>
          </select>
        </div>
        <label for="order_payment_mode" class="col-sm-2 col-form-label">Paiement</label>
        <div class="col-sm-10">
          <select id="order_payment_mode" class="form-control">
            <option value="">Tout</option>
            <option value="card">Carte bancaire</option>
            <option value="cheque">Chèque</option>
            <option value="cash">Espèces</option>
            <option value="paypal">Paypal</option>
            <option value="payplug">PayPlug</option>
            <option value="transfer">Virement</option>
          </select>
        </div>
        <label for="order_shipping_mode" class="col-sm-2 col-form-label">Expédition</label>
        <div class="col-sm-10">
          <select id="order_shipping_mode" class="form-control">
            <option value="">Tout</option>
            <option value="normal">Normal</option>
            <option value="colissimo">Colissimo</option>
            <option value="mondial-relay">Mondial Relay</option>
            <option value="magasin">Retrait en magasin</option>
          </select>
        </div>
        <label for="query" class="col-sm-2 col-form-label">Filtre</label>
        <div class="col-sm-10">
          <input type="text" id="query" value="{{ app.request.get('q') }}" class="form-control"
                 placeholder="Nom du client, adresse-email, n&deg; de commande..."/>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" data-action="show">Afficher les commandes</button>

          {% if display_mondial_relay_export_button %}
            <button type="submit" class="btn btn-info" data-action="export" data-export_url="{{
              path('api_orders_export_mondial_relay')
            }}">
              <span class="fa fa-cloud-download"></span>
              Exporter pour Mondial Relay
            </button>
          {% endif %}
        </div>
      </div>

    </fieldset>
  </form>

  <table class="table table-bordered orders-table">
    <thead>
    <tr>
      <th></th>
      <th class="right">Ref.</th>
      <th class="center">Date</th>
      <th>Client</th>
      <th>Montant</th>
      <th></th>
      <th colspan="2">Paiement</th>
      <th>Expédition</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="orders">
    </tbody>
    <tbody id="ordersLoading" class="hidden">
    <tr>
      <td colspan="9" class="center">
        <h3><img src="/common/img/loading.gif">
          Chargement...</h3>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button id="load-more-orders-button" class="btn btn-primary load-more-orders-button">
      Afficher plus de commandes (<span id="orders-count"></span>)
    </button>
  </div>
{% endblock %}
