{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Point de retrait
{% endblock %}

{% block main %}

  <h1>Choix du point de retrait</h1>

  <form class="form-inline">
    <div class="form-group">
      <label for="postal_code">Votre code postal</label>
      <input
        type="text"
        class="form-control mx-2"
        id="postal_code"
        name="postal_code"
        placeholder="46800"
        value="{{ postal_code }}"
      >
      <input type="hidden" name="country_id" value="{{ country_id }}">
      <input type="hidden" name="shipping_id" value="{{ shipping_id }}">
    </div>
    <button type="submit" class="btn btn-info">Rechercher</button>
  </form>

  {% if pickup_points %}
    <h2 class="my-4">Points de retrait disponibles</h2>
  {% endif %}

  {% for point in pickup_points %}
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="card-title">{{ point.name }}</h4>
      </div>
      <div class="card-body">
        <p>
          {{ point.address }}<br />
          {{ point.postalCode }}  {{ point.city }}<br />
          <a href="{{ point.mapUrl }}" target="_blank" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-map-marker-alt"></i>
            Voir sur la carte
          </a>
        </p>
      </div>
      <div class="card-footer">
        <a
          href="/pages/order_delivery?pickup_point_code={{ point.id }}&country_id={{ country_id }}&shipping_id={{ shipping_id }}"
          class="btn btn-primary"
        >
          <i class="fa fa-check"></i>
          Choisir ce point de retrait
        </a>
      </div>
    </div>
  {% endfor %}

{% endblock %}
