{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Expédition · Zones tarifaires
{% endblock %}

{% block main %}

  {% include "AppBundle:Shipping:_admin_navigation.html.twig" with { active: "zones" } %}

  <a href="{{ path('shipping_zones_new') }}" class="btn btn-primary mb-3">
    <i class="fa-solid fa-plus-square"></i>
    Ajouter une zone
  </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Zone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for zone in zones %}
        <tr>
          <td>
            <p>
              {{ zone.name }}<br />
              <span class="text-muted">{{ zone.description }}</span>
            </p>
          </td>
          <td>
            <a href="{{ path('shipping_zones_countries', { id: zone.id }) }}" class="btn btn-info btn-sm">
              <i class="fa-solid fa-map"></i>
              {{ zone.countries.count }}
              pays
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="2" class="text-center">Aucune zone tarifaire définie.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}