{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% if error %}
  <p class="alert alert-danger">
    {{ error }}
  </p>
{% endif %}

{% if success %}

  <p class="alert alert-success">
    Votre message a bien été envoyé.
  </p>

{% else %}

  <form action="/contact/" method="post" class="fieldset contact-form">
    <fieldset>

      <div class="form-group">
        <label for="name">Votre nom</label>
        <input type="text" name="name" id="name" value="{{ name }}" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="email">Votre adresse e-mail</label>
        <input type="email" name="email" id="email" value="{{ email }}" class="form-control" required>
      </div>

      <div class="form-group contact-form__phone-number">
        <label for="phone">Votre numéro de téléphone</label>
        <input type="tel" name="phone" id="phone" value="" class="form-control">
      </div>

      <div class="form-group">
        <label for="subject">Sujet du message</label>
        <input type="text" name="subject" id="subject" value="{{ subject }}" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="message">Votre message</label>
        <textarea name="message" id="message" rows=10 class="form-control" required>{{ message }}</textarea>
      </div>

      {% if recaptcha_key %}
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
        <script src="https://www.google.com/recaptcha/api.js"></script>
      {% endif %}

      <br>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Envoyer le message</button>
      </div>
    </fieldset>
  </form>

{% endif %}
