<h1>Administration Biblys</h1>

{% if update_alert %}
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      new Biblys.Notification('Biblys a été mis à jour (v. {{ version }}) ! <p class="text-center"><a class="btn btn-primary btn-sm" href="{{ path('maintenance_changelog_index') }}">En savoir plus</a></p>', { sticky: true, closeButton: true });
    });
  </script>
{% endif %}

{% if smtpAlert %}
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      new Biblys.Notification('<p><span class="fa fa-warning"></span>&nbsp; Aucun serveur SMTP n\'est configuré pour l\'envoi de courriels.</p>', {
        sticky: false,
        closeButton: true,
        type: 'warning',
      });
    });
  </script>
{% endif %}

<h3>Raccourcis</h3>

{% if shortcuts|length > 0 %}
  <p class="text-right manage-shortcut-link">
    <a href="{{ path('main_admin_shortcuts') }}">gérer les raccourcis</a>
  </p>
{% else %}
  <p>
    Utilisez les raccourcis pour accéder rapidement aux outils de l'administration que vous utilisez le plus souvent depuis n'importe quelle page de votre site Biblys.<br>
    Pour commencer, cliquez sur <a href="{{ path('main_admin_shortcuts') }}" class="btn btn-xs btn-primary">gérer les raccourcis</a>
  </p>
{% endif %}

<div class="admin-shortcuts">

  {% for shortcut in shortcuts %}
    <a href="{{ shortcut.url }}"{% if shortcut.class is defined %} class="{{ shortcut.class }}"{% endif %}>
      <div class="shortcut"{% if shortcut.subscription is defined %} data-subscribe="{{ shortcut.subscription}}"{% endif %}>
        <span class="icon fa fa-{{ shortcut.icon }}"></span>
        <p>{{ shortcut.name }}</p>
      </div>
    </a>
  {% endfor %}

</div>

<div class="row admin-dashboard">

  <div class="col-sm-4">
    <h3>Articles</h3>
    <ul class="admin-entries">
      {% for entry in articles %}
        <li{% if entry.hasSubscription() %} data-subscribe="{{ entry.subscription }}" {% endif %}>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Stock</h3>
    <ul class="admin-entries">
      {% for entry in stock %}
        <li{% if entry.hasClass() %} class="{{ entry.class }}"{% endif %}>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Ventes</h3>
    <ul class="admin-entries">
      {% for entry in sales %}
        <li{% if entry.hasSubscription() %} data-subscribe="{{ entry.subscription }}" {% endif %}>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">0</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Numérique</h3>
    <ul class="admin-entries">
      {% for entry in ebooks %}
        <li>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Contenu</h3>
    <ul class="admin-entries">
      {% for entry in content %}
        <li>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Statistiques</h3>
    <ul class="admin-entries">
      {% for entry in stats %}
        <li>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Site</h3>
    <ul class="admin-entries">
      {% for entry in site %}
        <li>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Biblys</h3>
    <ul class="admin-entries">
      {% for entry in biblys %}
        <li>
          <a href="{{ entry.url }}" target="{{ entry.target }}">
            <span class="fa fa-{{ entry.icon }}"></span>
            {{ entry.name }}
            {% if entry.taskCount > 0 %}
              <span class="icon-badge">{{ entry.taskCount }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if custom|length > 0 %}

    <div class="col-sm-4">
      <h3>{{ site_title }}</h3>
      <ul class="admin-entries">
        {% for entry in custom %}
          <li>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  {% endif %}

</div>

<p class="text-center">
  <a href="{{ path('maintenance_changelog_index') }}">Biblys v{{ version }}</a>
</p>
