{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Administration Biblys
{% endblock %}

{% block main %}

  <h1>Administration Biblys</h1>

  {% if updated_alert %}
    <div class="alert alert-success">
      <span class="fa fa-check-circle"></span>
      Biblys a été mis à jour (v. {{ version }}) !
      <a class="btn btn-success btn-sm float-right" href="https://github.com/biblys/biblys/releases/">
        En savoir plus
      </a>
    </div>
  {% endif %}

  {% if smtp_alert %}
    <div class="alert alert-warning">
      <span class="fa fa-warning"></span>
      L'envoi de courriel est désactivé car aucun serveur SMTP n'est configuré.
    </div>
  {% endif %}

  <h3>Raccourcis</h3>

  {% if shortcuts|length > 0 %}
    <p class="text-right manage-shortcut-link">
      <a href="{{ path('main_admin_shortcuts') }}">gérer les raccourcis</a>
    </p>
  {% else %}
    <p>
      Utilisez les raccourcis pour accéder rapidement aux outils de l'administration que vous utilisez le plus souvent depuis n'importe quelle page de votre site Biblys.<br>
      Pour commencer, cliquez sur <a href="{{ path('main_admin_shortcuts') }}" class="btn btn-sm btn-primary">gérer les raccourcis</a>
    </p>
  {% endif %}

  <div class="admin-shortcuts">

    {% for shortcut in shortcuts %}
      <a href="{{ shortcut.url }}"{% if shortcut.class is defined %} class="{{ shortcut.class }}"{% endif %}>
        <div class="shortcut"{% if shortcut.subscription is defined %} data-subscribe="{{ shortcut.subscription}}"{% endif %}>
          <span class="icon fa fa-{{ shortcut.icon }}"></span>
          <p>{{ shortcut.name }}</p>
        </div>
      </a>
    {% endfor %}

  </div>

  {% if cloud_news %}
    <div class="card mb-3 mx-5">
      <div class="card-header pt-3">

        <form action="{{ path("main_admin_mark_cloud_news_as_read") }}" method="post" class="float-right">
          <button type="submit" class="btn btn-secondary btn-sm" aria-label="Fermer la carte">
            <span class="fa fa-check"></span> Marquer comme lu
          </button>
        </form>
        <h5><i class="fa fa-newspaper"></i>&nbsp; L'actualité de Biblys</h5>
      </div>
      <div class="list-group list-group-flush">
        {% for news in cloud_news %}
          <div class="list-group-item">
            {% if news.image is defined %}
              <img src="{{ news.image }}" class="w-25 float-right ml-2" alt="{{ news.title }}">
            {% endif %}
            <h5 class="card-title">{{ news.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ news.date|date('j f Y') }}</h6>
            <p class="card-text">{{ news.description }}</p>
            <a href="{{ news.url }}" class="card-link stretched-link">En savoir plus</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row admin-dashboard">

    <div class="col-sm-4">
      <h3>Catalogue</h3>
      <ul class="admin-entries">
        {% for entry in catalog %}
          <li{% if entry.hasSubscription() %} data-subscribe="{{ entry.subscription }}" {% endif %}>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Stock</h3>
      <ul class="admin-entries">
        {% for entry in stock %}
          <li{% if entry.hasClass() %} class="{{ entry.class }}"{% endif %}>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Ventes</h3>
      <ul class="admin-entries">
        {% for entry in sales %}
          <li{% if entry.hasSubscription() %} data-subscribe="{{ entry.subscription }}" {% endif %}>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">0</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if ebooks|length > 0 %}
      <div class="col-sm-4">
        <h3>Numérique</h3>
        <ul class="admin-entries">
          {% for entry in ebooks %}
            <li>
              <a href="{{ entry.url }}" target="{{ entry.target }}">
                <span class="fa fa-{{ entry.icon }}"></span>
                {{ entry.name }}
                {% if entry.taskCount > 0 %}
                  <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="col-sm-4">
      <h3>Contenu</h3>
      <ul class="admin-entries">
        {% for entry in content %}
          <li>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Statistiques</h3>
      <ul class="admin-entries">
        {% for entry in stats %}
          <li>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Site</h3>
      <ul class="admin-entries">
        {% for entry in site %}
          <li>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Biblys</h3>
      <ul class="admin-entries">
        {% for entry in biblys %}
          <li>
            <a href="{{ entry.url }}" target="{{ entry.target }}">
              <span class="fa fa-{{ entry.icon }}"></span>
              {{ entry.name }}
              {% if entry.taskCount > 0 %}
                <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if custom|length > 0 %}

      <div class="col-sm-4">
        <h3>{{ site_title }}</h3>
        <ul class="admin-entries">
          {% for entry in custom %}
            <li>
              <a href="{{ entry.url }}" target="{{ entry.target }}">
                <span class="fa fa-{{ entry.icon }}"></span>
                {{ entry.name }}
                {% if entry.taskCount > 0 %}
                  <span class="icon-badge badge badge-pill badge-danger">{{ entry.taskCount }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    {% endif %}

  </div>

  <p class="text-center">
    <a href="https://github.com/biblys/biblys/releases/">Biblys v{{ version }}</a>
  </p>
{% endblock %}
