<article id="event_{{ event.id }}" class="event">
  <header class="event-header">
    <h1 class="event-title">
      <a href="{{ event.url }}">
        {{ event.title }}
      </a>
    </h1>
    <p class="event-date">Le
      <time datetime="{{ event.start }}">
        {{ event.start|date('j f Y à H\hi') }}
      </time>
    </p>
  </header>

  {% if event.hasIllustration() %}
    <div class="event-illustration">
      <img src="{{ event.illustration.url }}"
           class="event-illustration-image" {% if event.has('illustration_legend') %} alt="{{ event.illustration_legend }}" {% endif %}>
    </div>
  {% endif %}

  {% if event.has('desc') %}
    <div class="event-content">
      {{ event.desc|raw }}
    </div>
  {% endif %}

  {% if event.articles %}
    <div class="linked-articles">
      {% for article in event.articles %}
        <a href="/{{ article.url }}">
          <img src="{{ article.getCover('url')|raw }}" alt="{{ article.title }}" class="linked-article">
        </a>
      {% endfor %}
    </div>
  {% endif %}
</article>