{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% if pages is defined and pages.total > 1 %}

	<p class="events-pagination text-center">

		{% if pages.previous > -1 %}
			<a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ pages.previous }}" class="btn btn-default btn-sm">
				<span class="fa fa-chevron-circle-left"></span>
			</a>
			&nbsp;
		{% endif %}

		{% for i in 1..pages.total %}
			{% if pages.current == i %}
				<span class="pagination-page pagination-page-current">{{ i }}</span>
			{% else %}
				<a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ i - 1 }}" class="pagination-page">{{ i }}</a>
			{% endif %}
		{% endfor %}

		{% if pages.next %}
			&nbsp;
			<a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ pages.next }}" class="btn btn-default btn-sm">
				<span class="fa fa-chevron-circle-right"></span>
			</a>

		{% endif %}
	</p>

{% endif %}
