{% if pages is defined and pages.total > 1 %}

	<p class="posts-pagination text-center">

		{% if pages.previous > -1 %}
			<a href="{{ pages.previousQuery }}" class="btn btn-default btn-sm">
				<span class="fa fa-chevron-circle-left"></span>
			</a>
			&nbsp;
		{% endif %}

		{% for pageNumber in 1..pages.total %}
			{% if pages.current == pageNumber %}
				<span class="pagination-page pagination-page-current">{{ pageNumber }}</span>
			{% else %}
				<a href="{{ pages.queryForPageNumber(pageNumber) }}" class="pagination-page">{{ pageNumber }}</a>
			{% endif %}
		{% endfor %}

		{% if pages.next %}
			&nbsp;
			<a href="{{ pages.nextQuery }}" class="btn btn-default btn-sm">
				<span class="fa fa-chevron-circle-right"></span>
			</a>
		{% endif %}
	</p>

{% endif %}
