{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Paiments
{% endblock %}

{% block main %}
  <h1>Paiements</h1>

  <form class="fieldset">
    <fieldset>
      <legend>Filtres</legend>
      <div class="form-group row">
        <label for="payment_mode" class="col-sm-2 col-form-label">Mode</label>
        <div class="col-sm-10">
          <select name="mode" id="payment_mode" class="form-control">
            <option value="">Tous</option>
            {% for mode in modes %}
              <option value="{{ mode }}"{{ selectedMode is same as(mode) ? " selected" }}>{{ mode }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="start-date" class="col-sm-2 col-form-label">Entre le</label>
        <div class="col-sm-10">
          <input type="date" name="start_date" id="start-date" class="form-control" value="{{ startDate }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="end-date" class="col-sm-2 col-form-label">Et le</label>
        <div class="col-sm-10">
          <input type="date" name="end_date" id="end-date" class="form-control" value="{{ endDate }}">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-outline-secondary">Filtrer</button>
        </div>
      </div>
    </fieldset>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Commande n°</th>
        <th>Mode</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
      <tr>
        <td>{{ payment.executed|date('d/m/Y') }}</td>
        <td>
          <a href="{{ path('orders_show', { 'id': payment.orderId }) }}">
            {{ payment.orderId }}
          </a>
        </td>
        <td>{{ payment.mode }}</td>
        <td class="text-right">{{ payment.amount|currency(true)|raw }}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3" class="text-right">Total</th>
        <th class="text-right">{{ total|currency(true)|raw }}</th>
      </tr>
    </tfoot>
  </table>

  {% include 'AppBundle:Utils:_pagination.html.twig' %}
{% endblock %}
