{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Ajouter au rayon {{ rayon.name }}
{% endblock %}

{% block main %}

  <h1>
    Ajouter au rayon
    <a href="{{ path('rayon_show', { url: rayon.url }) }}">
      {{ rayon.name }}
    </a>
  </h1>

  {% for articles in app.session.flashbag.get('articlesAdded') %}
    {% for article in articles %}
      <p class="alert alert-success">&laquo;
        {{ article }}
        &raquo; a bien été ajouté au rayon.</p>
    {% endfor %}
  {% endfor %}

  {% for errors in app.session.flashbag.get('errors') %}
    {% for error in errors %}
      <p class="alert alert-warning">{{ error }}</p>
    {% endfor %}
  {% endfor %}

  <form method="post" class="fieldset">
    <fieldset>

      <legend>Ajouter un article au rayon</legend>

      <div class="form-group row">
        <div class="col-md-2 text-md-right">
          <label class="col-form-label">Article :</label>
        </div>
        <div class="col-md-10">
          {% include "AppBundle:Utils:_entity-search-field.html.twig" with {
            query_url: "/pages/adm_article_search",
            label: "Choisir un article…",
            required: true,
            input_name: "article_id",
            autoload: true,
          } %}
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Ajouter l'article au rayon</button>
      </div>

    </fieldset>
  </form>

  <form method="post" class="fieldset">
    <fieldset>

      <legend>Ajouter une collection au rayon</legend>

      <div class="form-group row">
        <div class="col-md-3">
          <label for="article_ean">Collection :</label>
        </div>
        <div class="col-md-9">
          <input data-entity_search="Collection" type="text" class="form-control verylong" id="article_ean"
                 name="article_ean" placeholder="Nom de la collection ou de l'éditeur..." required="required">
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" disabled="disabled">Ajouter tous les articles au rayon</button>
      </div>

    </fieldset>
  </form>

  <form method="post" class="fieldset">
    <fieldset>

      <legend>Ajouter tous les articles d'un type à un rayon</legend>

      <div class="form-group row">
        <div class="col-md-3">
          <label for="article_type">Type :</label>
        </div>
        <div class="col-md-9">
          <select name="article_type">
            {% for type in types %}
              <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          Ajouter tous les articles au rayon
        </button>
      </div>

    </fieldset>
  </form>

{% endblock %}
