{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Articles du rayon {{ rayon.name }}
{% endblock %}

{% block main %}

  <h1><i class="fa fa-sort-amount-asc"></i> Articles du rayon {{ rayon.name }}</h1>

  <p class="buttonset">
    <a href="{{ path('rayon_add', { id: rayon.id }) }}" class="btn btn-success">
      <i class="fa fa-plus-square"></i> Ajouter
    </a>
  </p>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Éditeur</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td>{{ article.title }}</td>
        <td>
          {% if article.has('authors') %}
            {{ article.authors|authors }}
          {% endif %}
        </td>
        <td>
          {% if article.has('publisher') %}
            {{ article.publisher }}
          {% endif %}
        </td>
        <td>
          <a href="{{ path('rayon_remove', { rayon_id: rayon.id, article_id: article.id }) }}"
             class="btn btn-sm btn-danger">
            <span class="fa fa-trash-o"></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
