{% extends "layout:base.html.twig" %}

{% block title %}
  Articles du rayon {{ rayon.name }}
{% endblock %}

{% block main %}

  <h1><i class="fa fa-sort-amount-asc"></i> Articles du rayon {{ rayon.name }}</h1>

  <p class="buttonset">
    <a href="{{ path('rayon_add', { id: rayon.id }) }}" class="btn btn-success">
      <i class="fa fa-plus-square"></i> Ajouter
    </a>
  </p>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Éditeur</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td>{{ article.title }}</td>
        <td>
          {% if article.has('authors') %}
            {{ article.authors|authors }}
          {% endif %}
        </td>
        <td>
          {% if article.has('publisher') %}
            {{ article.publisher }}
          {% endif %}
        </td>
        <td>
          <a href="{{ path('rayon_remove', { rayon_id: rayon.id, article_id: article.id }) }}"
             class="btn btn-sm btn-danger">
            <span class="fa fa-trash-o"></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
