{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Rayons
{% endblock %}

{% block main %}

  <h1><span class="fa-solid fa-sort-amount-asc"></span> Rayons</h1>

  <p class="buttonset">
    <a href="{{ path('rayon_new') }}" class="btn btn-primary"><i class="fa-solid fa-plus-square"></i> Nouveau</a>
  </p>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
      <th>Articles</th>
    </tr>
    </thead>
    {% for rayon in rayons %}
      <tr>
        <td><a href="{{ path('rayon_show', { url: rayon.url }) }}">{{ rayon.name }}</a></td>
        <td>
          <a href="{{ path('rayon_edit', { id: rayon.id }) }}" class="btn btn-sm btn-primary" title="Modifier le rayon">
            <i class="fa-solid fa-edit"></i>
            Modifier
          </a>
          <a href="{{ path('rayon_delete', { id: rayon.id }) }}" class="btn btn-sm btn-danger"
             data-confirm="Voulez-vous vraiement SUPPRIMER le rayon {{ rayon.name }} ?" title="Supprimer le rayon">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
        <td>
          <a href="{{ path('rayon_articles', { id: rayon.id }) }}"
             class="btn btn-outline-secondary btn-sm">{{ rayon.countArticles() }}</a>
          <a href="{{ path('rayon_add', { id: rayon.id }) }}" class="btn btn-sm btn-success"
             title="Ajouter des articles au rayon">
            <i class="fa-solid fa-plus-square"></i>
            Ajouter
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
