{% extends "layout:email-layout.html.twig" %}

{% block subject %}
  Vous avez reçu une invitation à télécharger {{ articleTitle }} en numérique.
{% endblock %}

{% block preview %}
  Ajoutez-le à votre bibliothèque d'un simple clic !
{% endblock %}

{% block content %}
  <h1>Bonjour !</h1>
  <h2 class="align-center">
    Vous avez reçu une invitation à télécharger<br/>
    <strong>{{ articleTitle }}</strong><br/>
    en numérique.
  </h2>
  <p>
    Cliquez sur le bouton ci-dessous pour l’ajouter à votre bibliothèque numérique
    sur le site <strong>{{ app.currentSite.title }}</strong>
    d’où vous pourrez le télécharger à volonté et dans le format de votre choix.
  </p>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td><a href="{{ invitationUrl }}" target="_blank">Ajouter à ma bibliothèque</a></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <p>
    NB : ce lien n'est valable qu'une seule fois
    et expirera le {{ expirationDate }}.
  </p>
{% endblock %}