{% extends "layout:base.html.twig" %}

{% block title %}
  Invitations de téléchargement
{% endblock %}

{% block main %}
  <h1>Invitations de téléchargement</h1>

  <p>
    <a href="{{ path('invitation_new') }}" class="btn btn-primary">
      <span class="fa fa-plus-circle"></span>
      Créer
    </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Destinataire</th>
        <th>Articles</th>
        <th>Crée le</th>
        <th colspan="2">Statut</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for invitation in invitations %}
        <tr>
          <td>
            <a href="mailto:{{ invitation.email }}">
              {{ invitation.email }}
            </a>
          </td>
          <td>
            {% for article in invitation.articles %}
              {{ article.title }}<br/>
            {% endfor %}
          </td>
          <td>{{ invitation.createdAt|date('d/m/Y') }}</td>
          <td class="text-center">
            {% if invitation.isConsumed %}
              <span class="fa fa-check" title="Utilisée le {{ invitation.consumedAt|date('d/m/Y') }}"></span>
            {% elseif invitation.hasExpired %}
              <span class="fa fa-clock-o" title="Expirée le {{ invitation.expiresAt|date('d/m/Y') }}"></span>
            {% else %}
              <span class="fa fa-hourglass" title="En attente"></span>
            {% endif %}
          </td>
          <td class="text-center">
            {% if invitation.allowsPreDownload %}
              <span class="fa fa-rocket" title="Téléchargement avant parution autorisé"></span>
            {% endif %}
          </td>
          <td>
            <form class="form-inline" method="POST" action="{{ path('invitation_delete', { id: invitation.id }) }}">
              <div class="btn-group" role="group" aria-label="Actions">
                <button
                  title="Copier le lien"
                  class="btn btn-sm btn-info"
                  onClick="navigator.clipboard.writeText('{{ path('invitation_show', { code: invitation.code }, true) }}')">
                  <span class="fa fa-copy"></span>
                </button>
                <button title="Supprimer l'invitation" type="submit" class="btn btn-sm btn-danger">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </form>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4" class="text-center">Aucune invitation de téléchargement.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'AppBundle:Payment:_pagination.html.twig' %}
{% endblock %}
