{% extends "layout:base.html.twig" %}

{% block title %}
  Ajout à la bibliothèque
{% endblock %}

{% block main %}
  <h1>Ajout à la bibliothèque</h1>

  {% if error %}

    <p class="alert alert-danger">
      <span class="fa fa-times-circle"></span>
      {{ error }}
    </p>

  {% else %}

    <p class="text-center">
      {% if invitation.articles.count == 1 %}
        <strong>{{ invitation.articles.first.title }}</strong> <br />
        va être ajouté à la bibliothèque numérique <br />
      {% else %}
        {% for article in invitation.articles %}
          <strong>{{ article.title }}</strong> <br />
        {% endfor %}
        vont être ajoutés à la bibliothèque numérique <br />
      {% endif %}
      de votre compte <strong>{{ currentUser.email }}</strong><br />
      d'où vous pourrez le télécharger à volonté<br />
      et dans le format de votre choix.
    </p>

    <form action="{{ path('invitation_consume') }}" method="post" class="text-center">
      <input type="hidden" name="code" value="{{ invitation.code }}" />
      <button type="submit" class="btn btn-primary">Ajouter à ma bibliothèque</button><br />
      <a href="{{ path("user_logout") }}" class="btn btn-secondary">Changer de compte</a>
    </form>

  {% endif %}

{% endblock %}
