{% extends "layout:base.html.twig" %}

{% block title %}
  Ajout à la bibliothèque
{% endblock %}

{% block main %}
  <h1>Ajout à la bibliothèque</h1>

  {% if not currentUser.isAuthentified %}
    <p>
      L'article sera ajouté à votre bibliothèque numérique d'où vous pourrez le télécharger à volonté et dans le format
      de votre choix.
    </p>
    <p>Pour continuer, vous devez vous identifier.</p>
    <a href="{{ path("user_login", { return_url: app.currentUrl.absoluteUrl }) }}" class="btn btn-primary">
      Connexion
    </a>

  {% elseif error %}

    <p class="alert alert-danger">
      <span class="fa fa-times-circle"></span>
      {{ error }}
    </p>

  {% elseif currentUser.isAuthentified %}
    <p class="text-center">
      {% if articles.count == 1 %}
        <strong>{{  articles.first.title }}</strong> <br />
        va être ajouté à la bibliothèque numérique <br />
      {% else %}
        {% for article in articles %}
          <strong>{{  article.title }}</strong> <br />
        {% endfor %}
        vont être ajoutés à la bibliothèque numérique <br />
      {% endif %}
      de votre compte <strong>{{ currentUser.email }}</strong><br />
      d'où vous pourrez le télécharger à volonté<br />
      et dans le format de votre choix.
    </p>

    <form action="{{ path('invitation_consume') }}" method="post" class="text-center">
      <input type="hidden" name="code" value="{{ code }}" />
      <button type="submit" class="btn btn-primary">Ajouter à ma bibliothèque</button><br />
      <a href="{{ path("user_logout") }}" class="btn btn-secondary">Changer de compte</a>
    </form>

  {% endif %}

{% endblock %}
