{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Exemplaires perdus
{% endblock %}

{% block main %}

  <h1>
    <span class="fa fa-truck"></span>
    Chiffre d'affaires par fournisseur
  </h1>

  <form class="form-inline">
    <div>
      <label for="year">Année :</label>
      <select id="year" name="year" class="goto">
        <option value="all">Cumul</option>
        {% for year_option in years %}
          <option
              value={{ path('stats_suppliers', { year: year_option }) }}{% if year == year_option %} selected{% endif %}>
            {{ year_option }}
          </option>
        {% endfor %}
      </select>
    </div>
  </form>

  <table class="table">
    <thead>
    <th></th>
    <th>Fournisseur</th>
    <th class="right">CA HT</th>
    </thead>
    <tbody>
    {% for supplier in suppliers %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ supplier.name }}</td>
        <td class="right">{{ supplier.getRevenue(year)|currency(true)|raw }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
