{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<div id="Gallery_{{ gallery.id }}" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for media in gallery.medias %}
      <div class="carousel-item {{ loop.first ? "active" }}">
        <a href="{{ media.url }}" class="carousel-slide-link">
          <img src="{{ media.url }}" alt="">
        </a>
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-target="#Gallery_{{ gallery.id }}" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#Gallery_{{ gallery.id }}" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </button>
</div>