{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


<form class="fieldset" method="post">
    <fieldset>
        <p>
            <label for="title" class="after">Titre :</label>
            <input type="text" value="{{ (campaign.has('title')) ? campaign.title }}" id="title" name="title" class="form-control" maxlength=128 required>
        </p>
        <p>
            <label for="goal" class="after">Objectif (en euros) :</label>
            <input type="number" step=0.01 value="{{ (campaign.has('goal')) ? campaign.goal|price }}" id="goal" name="goal" class="form-control" required>
        </p>
        <p>
            <label for="starts" class="after">Date de début (à 00:00) :</label>
            <input type="date" value="{{ (campaign.has('starts')) ? campaign.starts }}" id="starts" name="starts" class="form-control" required>
        </p>
        <p>
            <label for="ends" class="after">Date de fin (à 23:59) :</label>
            <input type="date" value="{{ (campaign.has('ends')) ? campaign.ends }}" id="ends" name="ends" class="form-control" required>
        </p>
        <p>
            <label for="image" class="after">URL de l'image :</label>
            <input type="url" value="{{ (campaign.has('image')) ? campaign.image }}" id="image" name="image" class="form-control">
        </p>
    </fieldset>

    <fieldset>
        <textarea id="description" name="description" class="wysiwyg">{{ (campaign.has('description')) ? campaign.description }}</textarea>
    </fieldset>

    <fieldset class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </fieldset>
</form>
