{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Options du site
{% endblock %}

{% block main %}

  <h1>
    <span class="fa fa-cogs"></span>
    Options du site
  </h1>

  <p>
    Les options de site permettent de modifier le comportement par défaut
    de Biblys.<br/>
    <a href="https://docs.biblys.fr/configurer/options-du-site/">
      Documentation
    </a>
  </p>

  <form method="post" class="fieldset">
    <fieldset>
      <table class="table">
        <thead>
        <tr>
          <th>Clé</th>
          <th>Valeur</th>
        </tr>
        </thead>
        <tbody>
        {% for option in options %}
          <tr>
            <td style="line-height: 45px">
              <label for="{{ option.key }}>">{{ option.key }}</label>
            </td>
            <td>
              <input type="text" name="options[{{ option.key }}]" id="{{ option.key }}" value="{{ option.value }}" class="form-control">
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </fieldset>
    <fieldset>
      <p>
        <label for="new_option" class="after">Ajouter une option :</label>
        <input type="text" name="new_key" id="new_key" placeholder="Clé" class="form-control">
        <input type="text" name="new_value" id="new_value" placeholder="Valeur" class="form-control">
      </p>
    </fieldset>
    <fieldset class="text-center">
      <button type="submit" class="btn btn-primary">Valider</button>
    </fieldset>
  </form>

{% endblock %}
