{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% if article.model.price == 0 and article.type.isDownloadable %}

  <a
    class="btn btn-success cart-button"
    href="{{ path('article_free_download', { id: article.id }) }}"
    {% if hideLabel is defined %}
      aria-label="{{ article.model.cartButtonLabel }}"
      title="{{ article.model.cartButtonLabel }}"
    {% endif %}
  >
    <i class="fa-solid fa-file-arrow-down"></i>

    {% if hideLabel is not defined %}
      <span class="cart-button-text">
        {% if label is defined %}
          {{ label }}
        {% else %}
          Télécharger gratuitement
        {% endif %}
      </span>
    {% endif %}
  </a>

{% else %}

  <button
    class="btn btn-primary cart-button add_to_cart event"
    data-type="article"
    data-id="{{ article.id }}"
    {% if hideLabel is defined %}
      aria-label="{{ article.model.cartButtonLabel }}"
      title="{{ article.model.cartButtonLabel }}"
    {% endif %}
  >
    <span class="fa-solid fa-shopping-basket"></span>
    {% if hideLabel is not defined %}
      <span class="cart-button-text">
        {% if label is defined %}
          {{ label }}
        {% else %}
          {{ article.model.cartButtonLabel }}
        {% endif %}
      </span>
    {% endif %}
  </button>

{% endif %}