<h1>
  <span class="fa fa-list-alt"></span>
  Catalogue</h1>
</h1>

<button class="btn btn-primary" data-table-to-csv="#catalog" data-csv-file-name="catalogue">
  <span class="fa fa-share-square-o"></span>
  Exporter
</button>

<table id="catalog" class="table">
  <thead>
    <tr>
      <th>EAN</th>
      <th>Titre</th>
      <th>Collection</th>
      <th>Éditeur</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr>
        <td>
          {% if article.has('ean') %}
            {{ article.ean }}
          {% endif %}
        </td>
        <td>{{ article.title }}</td>
        <td>
          {% if article.collection %}
            {{ article.collection.name }}
          {% endif %}
        </td>
        <td>{{ article.publisher.name }}</td>
        <td>
          {% if article.has('price') %}
            {{ article.price|currency(true)|raw }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
