{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Articles
{% endblock %}

{% block main %}
  <h1>
    <span class="fa fa-list-alt"></span>
    Articles ({{ count }})
  </h1>

  <div class="my-4">
    <a class="btn btn-success" href="/pages/article_edit">
      <span class="fa-solid fa-square-plus"></span>
      Nouveau
    </a>
    <a class="btn btn-info" href="{{ path("api_articles_export") }}">
      <span class="fa fa-cloud-download"></span>
      Télécharger le catalogue (.csv)
    </a>
  </div>

  <table id="catalog" class="table">
    <thead>
    <tr>
      <th>EAN</th>
      <th>Titre<br/>
        <small>Auteur·trice·s</small>
      </th>
      <th>Collection<br/>
        <small>Éditeur</small>
      </th>
      <th>Prix</th>
      <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td>
          {{ article.ean }}
        </td>
        <td>
          {% if article.title %}
            <a href="/a/{{ article.url }}">
              {{ article.title }}
            </a><br/>
            <small>{{ article.authors|authors }}</small>
          {% else %}
            <a href="/pages/article_edit?id={{ article.id }}">
              <em>Article sans titre</em>
            </a>
          {% endif %}
        </td>
        <td>
          {{ article.collectionName }}<br>
          <small>{{ article.publisherName }}</small>
        </td>
        <td>
          {% if article.price %}
            {{ article.price|currency(true)|raw }}
          {% endif %}
        </td>
        <td class="text-right">
          {% set itemCount = article.countAvailableStockItemsForSite(site) %}
          {% if itemCount == 0 %}
            <a href="/pages/adm_stock?add={{ article.id }}">0</a>
          {% else %}
            <a href="/pages/adm_stocks?article_id={{ article.id }}">
              {{ itemCount }}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include 'AppBundle:Article:_list_pagination.html.twig' %}
{% endblock %}
