<h1>
  <span class="fa fa-list-alt"></span>
  Catalogue</h1>
</h1>

<a class="btn btn-primary" href="{{ path("api_articles_export") }}">
  <span class="fa fa-cloud-download"></span>
  Télécharger (au format CSV)
</a>

<table id="catalog" class="table">
  <thead>
    <tr>
      <th>EAN</th>
      <th>Titre</th>
      <th>Collection</th>
      <th>Éditeur</th>
      <th>Prix</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr>
        <td>{{ article.ean }}</td>
        <td>
          <a href="/a/{{ article.url }}">
            {{ article.title }}
          </a>
        </td>
        <td>{{ article.collectionName }}</td>
        <td>{{ article.publisherName }}</td>
        <td>{{ article.price|currency(true)|raw }}</td>
        <td class="text-right">
          {{ article.countAvailableStockItemsForSite(site) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
