{% extends "layout:base.html.twig" %}

{% block title %}
  Recherche
{% endblock %}

{% block main %}
  <h1>Recherche</h1>

  {% if error %}
    <p class="alert alert-warning">
      {{ error }}
    </p>
  {% else %}

    {% if not query %}
      <form class="search-form">
        <div class="form-group">
          <input type="search" class="form-control search-form-input" name="q" value="{{ query }}" placeholder="Titre, auteur, mot-clé, ISBN...">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary search-form-button">Rechercher</button>
        </div>
      </form>
    {% else %}
      <p>
        {% if count == 0 %}
          Aucun résultat
        {% elseif count == 1 %}
          1 résultat
        {% else %}
          {{ count }} résultats
        {% endif %}
        pour &laquo; {{ query }} &raquo;
      </p>

      {% if app.site.getOpt("virtual_stock") != 1 %}
        <form>
          <input type="checkbox" value="1" id="filter-in-stock" name="in-stock" {{ inStockFilterChecked }} />
          <label class="after" for="filter-in-stock">Articles en stock uniquement</label>

          <input type="hidden" name="q" value="{{ query }}" />

          <button class="btn btn-sm btn-primary" type="submit">Filtrer</button>
        </form>
      {% endif %}

      {% include 'AppBundle:Article:_list.html.twig' %}
    {% endif %}

  {% endif %}
{% endblock %}
