{% extends "layout:base.html.twig" %}

{% block title %}
  Liste de contacts
{% endblock %}

{% block main %}
  <h1>Liste de contacts</h1>

  <h2>{{ total }} contacts</h2>

  <p>Source : {{ source }}</p>

  <form action="/pages/export_to_csv" method="post" class="fieldset">
    <fieldset>
      <a href="{{ path('mailing_subscribe') }}" class="btn btn-primary">
        <span class="fa fa-plus-square"></span> Ajouter
      </a>

      <a class="btn btn-primary" href="{{ link }}">
        <span class="fa fa-cog"></span>
        Gérer la liste
      </a>

      <input type="hidden" name="filename" value="contacts">
      <input type="hidden" name="data" value="{{ export }}">
      <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Télécharger</button>
    </fieldset>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Depuis le</th>
      </tr>
    </thead>

    <tbody>
      {% for contact in contacts %}
        <tr>
          <td>{{ contact.email }}</td>
          <td>{{ contact.createdAt }}</td>
          <td>
            <a href="{{ path('mailing_unsubscribe', { email: contact.email }) }}"
               class="btn btn-sm btn-danger"
               aria-label="Supprimer"
            >
              <span class="fa fa-trash"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "AppBundle:Mailing:_pagination.html.twig" %}
{% endblock %}
