{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Modifier {{ offer.name }}
{% endblock %}

{% block main %}
  <a href="{{ path('special_offer_index') }}">
    <span class="fa-solid fa-certificate"></span>
    Offres spéciales
  </a>

  <h1>Modifier « {{ offer.name }} »</h1>

  <form class="fieldset" method="post" action="{{ path('special_offer_update', { id: offer.id }) }}">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ offer.name }}" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="wysiwyg" id="description" name="description" required>{{ offer.description }}</textarea>
    </div>

    <fieldset>
      <legend>Conditions</legend>

        <div class="form-group row">
          <label for="start_date" class="col-md-3 col-form-label text-md-right">Du</label>
          <input type="date" class="form-control col-md-7" id="start_date" name="start_date" value="{{ offer.startDate|date('Y-m-d') }}" required>
        </div>

        <div class="form-group row">
          <label for="end_date" class="col-md-3 col-form-label text-md-right">au</label>
          <input type="date" class="form-control col-md-7" id="end_date" name="end_date" value="{{ offer.endDate|date('Y-m-d') }}" required>
        </div>

      <div class="form-group row">
        <label for="target_quantity" class="col-md-3 col-form-label text-md-right">pour</label>
        <input type="number" class="form-control col-md-7" id="target_quantity" name="target_quantity"
               value="{{ offer.targetQuantity }}" required>
        <span class="col-md-2 col-form-label">
          articles achetés
        </span>
      </div>

      <div class="form-group row">
        <label for="target_collection_id" class="col-md-3 col-form-label text-md-right">dans la collection</label>
        <select id="target_collection_id" class="form-control col-md-7" name="target_collection_id" required>
          {% for collection in collections %}
            <option value="{{ collection.id }}" {% if collection.id == offer.targetCollectionId %}selected{% endif %}>
              {{ collection.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group row">
        <label for="free_article_id" class="col-md-3 col-form-label text-md-right">l'article</label>
        <select id="free_article_id" class="form-control col-md-7" name="free_article_id" required>
          {% for article in articles %}
            <option value="{{ article.id }}" {% if article.id == offer.freeArticleId %}selected{% endif %}>
              {{ article.titleAlphabetic }}
            </option>
          {% endfor %}
        </select>
        <span class="col-md-2 col-form-label">
          est offert
        </span>
      </div>
    </fieldset>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>

{% endblock %}