{% extends "layout:base.html.twig" %}

{% block title %}
  Ticket #{{ ticket.id }} : {{ ticket.title }}
{% endblock %}

{% block main %}

  <h1>
    Ticket #{{ ticket.id }} : {{ ticket.title }}
  </h1>

  {% include 'AppBundle:Ticket:_deprecation_warning.html.twig' %}

  <p>
    <a href="{{ path('ticket_index') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
  </p>

  {% if not ticket.has('resolved') %}
    <p class="alert alert-info">Position dans la liste d'attente : {{ position }}</p>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <p>{{ ticket.content|nl2br }}</p>
    </div>
  </div>

  <br>
  <h2>Discussion</h2>
  {{ comments|join|raw }}

{% endblock %}
