{% extends "layout:base.html.twig" %}

{% block title %}
  Ticket #{{ ticket.id }} : {{ ticket.title }}
{% endblock %}

{% block main %}

  <h1>
    Ticket #{{ ticket.id }} : {{ ticket.title }}
  </h1>

  {% include 'AppBundle:Ticket:_deprecation_warning.html.twig' %}

  <p>
    <a href="{{ path('ticket_index') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
    {% if app.user.isRoot() and not ticket.isResolved() and not ticket.isClosed() %}
      <a href="{{ path('ticket_resolve', { 'id': ticket.id }) }}" class="btn btn-success"
         data-confirm="Voulez-vous vraiment marquer ce ticket comme résolu ?"><i class="fa fa-check"></i> Résolu</a>
    {% endif %}
    {% if not ticket.isClosed() %}
      <a href="{{ path('ticket_close', { 'id': ticket.id }) }}" class="btn btn-warning"
         data-confirm="Voulez-vous vraiment CLORE ce ticket ?"><i class="fa fa-close"></i> Clore</a>
    {% endif %}
  </p>

  {% if not ticket.has('resolved') %}
    <p class="alert alert-info">Position dans la liste d'attente : {{ position }}</p>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <p>{{ ticket.content|nl2br }}</p>
    </div>
  </div>

  <br>
  <h2>Discussion</h2>
  {{ comments|join|raw }}

{% endblock %}
