{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Ticket #{{ ticket.id }} : {{ ticket.title }}
{% endblock %}

{% block main %}

  <h1>
    Ticket #{{ ticket.id }} : {{ ticket.title }}
  </h1>

  {% include 'AppBundle:Ticket:_deprecation_warning.html.twig' %}

  <p>
    <a href="{{ path('ticket_index') }}" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> Retour</a>
  </p>

  {% if not ticket.has('resolved') %}
    <p class="alert alert-info">Position dans la liste d'attente : {{ position }}</p>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <p>{{ ticket.content|nl2br }}</p>
    </div>
  </div>

  <br>
  <h2>Discussion</h2>
  {{ comments|join|raw }}

{% endblock %}
