{% if post.hasIllustration() %}
  <div class="post-illustration">
    <img src="{{ post.illustration.url }}" class="post-illustration-image" {% if post.has('illustration_legend') %} alt="{{ post.illustration_legend }}" {% endif %}>
  </div>
{% endif %}

{% if post.has('content') %}
  <div class="post-content">
    {{ post.content|raw }}
  </div>
{% endif %}

{% if post.articles %}
  <div class="linked-articles">
    {% for article in post.articles %}
      <a href="/{{ article.url }}">
        <img src="{{ article.getCover('url')|raw }}" alt="{{ article.title }}" class="linked-article">
      </a>
    {% endfor %}
  </div>
{% endif %}
