{#
Copyright (C) 2025 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Articles liés à &laquo; {{ post.title }} &raquo;
{% endblock %}

{% block main %}

  <a href="{{ path("posts_admin") }}">
    <i class="fa-solid fa-newspaper"></i>
    Billets de blog
  </a>

  <h1>
    Articles liés à
    <a href="{{ path("post_show", { slug: post.url }) }}">
      {{ post.title }}
    </a>
  </h1>

  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for link in article_links %}
      <tr>
        <td>{{ link.article.id }}</td>
        <td>{{ link.article.title }}</td>
        <td>{{ link.article.type.name }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">Aucun article lié à ce billet.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <form class="form-inline" method="post" action="{{ path('post_articles_link', { id: post.id }) }}">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Article</div>
      </div>
      <select aria-label="Article" id="article_id" name="article_id" class="form-control">
        {% for article in articles %}
          <option value="{{ article.id }}">{{ article.title }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2 ml-2">
      <i class="fa-solid fa-plus"></i>
      Lier
    </button>
  </form>

{% endblock %}
