{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% if pages is defined and pages.total > 1 %}

  <nav class="Pagination text-center" aria-label="Page navigation">
    <ul class="pagination">
      {% if pages.previous > -1 %}
        <li class="Pagination__previous">
          <a
            href="{{ pages.previousQuery }}"
            aria-label="Précédent"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for pageNumber in 1..pages.total %}
        {% if pages.current == pageNumber %}
          <li class="Pagination__page Pagination__page--current active">
            <span class="pagination-page pagination-page-current">{{ pageNumber }}</span>
          </li>
        {% else %}
          <li class="Pagination__page">
            <a href="{{ pages.queryForPageNumber(pageNumber) }}" class="pagination-page">{{ pageNumber }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if pages.next %}
        <li class="Pagination__next">
          <a
            href="{{ pages.nextQuery }}"
            aria-label="Suivant"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}
