{#
Copyright (C) 2025 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<form id="createCollection" class="event hidden">
  <fieldset>
    <p>Si l’éditeur n’a pas de collection ou si le livre est «&nbsp;hors collection&nbsp;», indiquer le nom de l’éditeur
      à l’identique dans le champ collection.</p>
    <label class="floating" for="collection_name">Collection :</label>
    <input type="text" id="collection_name" name="collection_name" class="long" required />
    <br />
    <label class="floating" for="collection_publisher">Éditeur :</label>
    {{ create_collection_publisher|raw }}
    <br />
  </fieldset>
</form>

<form id="create_people" class="e createPeopleForm hidden">
  <fieldset>
    <label class="floating" for="people_first_name">Prénom :</label>
    <input type="text" id="people_first_name" name="people_first_name" class="long" />
    <br />
    <label class="floating" for="people_last_name">Nom :</label>
    <input type="text" id="people_last_name" name="people_last_name" class="long" required />
  </fieldset>
</form>

<form id="create_price" class="hidden">
  <fieldset>
    <label class="floating" for="price_cat">Catégorie :</label>
    <input type="text" id="price_cat" name="price_cat" class="short" />
    <br />
    <label class="floating" for="price_amount">Prix :</label>
    <input type="number" id="price_amount" name="price_amount" class="short" required /> centimes
    <br />
    <div class="right"><input type="submit" value="Valider" id="createPriceSubmit" /></div>
  </fieldset>
</form>

<form id="add_award" class="event hidden">
  <fieldset>
    <label class="floating" for="award_name">Récompense :</label>
    <input type="text" id="award_name" name="award_name" class="long" required />
    <br />
    <label class="floating" for="award_year">Année :</label>
    <input type="number" id="award_year" name="award_year" class="short" required />
    <br />
    <label class="floating" for="award_category">Catégorie :</label>
    <input type="text" id="award_category" name="award_category" class="long" />
    <br />
    <label class="floating" for="award_note">Note :</label>
    <input type="text" id="award_note" name="award_note" class="long" />
    <br />
    <div class="right"><input type="submit" value="Ajouter" id="addAwardSubmit"></div>
  </fieldset>
</form>

<form
  id="article_form"
  action="/pages/article_edit?id={{ article.id }}"
  method="post"
  enctype="multipart/form-data"
  class="fieldset check event"
  data-mode="{{ form_mode }}"
  data-uploading=0
  data-submitted=0
  {% if auto_import %}
    data-autoimport="true"
  {% endif %}
>

  <fieldset>
    <legend>Importation</legend>
    <div id="article_import">
      {% if form_mode == "insert" %}
        <h4 class="center">Entrez un ISBN ou un titre <br />pour rechercher dans les bases externes...</h4>
      {% else %}
        <div class="center"><a class="btn btn-outline-secondary reimport event">Réimporter la fiche depuis la base
            externe...</a></div>
      {% endif %}
    </div>
  </fieldset>

  <fieldset class="px-5">
    <legend>L’essentiel</legend>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_id">Article n°</label>
      <input type="text" id="article_id" name="article_id" value="{{ article.id }}"
             class="form-control col-md-2 col-lg-1" readonly required />
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="type_id">Type</label>
      <select class="form-control col-md-4 col-lg-3" name="type_id" id="type_id" required>
        {{ article_type_options|raw }}
      </select>
    </div>

    <div class="form-group row" id="article_ean_div">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_ean">EAN/ISBN</label>
      <input id="article_ean" name="article_ean" value="{{ article.ean }}"
             class="form-control col-md-4 col-lg-3 event article_ean" autofocus />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_title">Titre</label>
      <input type="text" id="article_title" name="article_title" value="{{ article.title }}"
             class="form-control col-md-9 article_duplicate_check event" required />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_authors">Auteur·ices</label>
      <input type="text" id="article_authors" value="{{ article.authors }}" class="form-control col-md-9" tabindex="-1"
             readonly required maxlength=256 data-toggle="popover" data-trigger="focus"
             title="Liste des auteurs et autrices"
             data-content="Champ rempli automatiquement. Utilisez la section Contributions (ci-dessous) pour ajouter ou supprimer un auteur ou une autrice.">
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_collection">Collection</label>
      <div class="col-md-7 col-lg-6 p-0">
        {% include "AppBundle:Utils:_entity-search-field.html.twig" with {
          query_url: path("api_collection_search"),
          label: "Rechercher ou créer une collection…",
          input_name: "collection_id",
          field_id: "collection-search-field",
          selected_result_value: article.bookCollection ? article.bookCollection.id : '',
          selected_result_label: article.bookCollection ? article.bookCollection.name : '',
          required: true,
        } %}
      </div>
      <span class="col-auto col-form-label text-md-right">n°</span>
      <input type="text" id="article_number" name="article_number" value="{{ article.number }}"
             class="form-control col-md-1 article_duplicate_check event" />
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_cycle">Cycle</label>
      <div class="col-md-7 col-lg-6 p-0">
        {% include "AppBundle:Utils:_entity-search-field.html.twig" with {
          query_url: "/pages/adm_article_cycle",
          label: "Rechercher ou créer un cycle…",
          input_name: "cycle_id",
          field_id: "cycle-search-field",
          selected_result_value: article.cycle ? article.cycle.id : '',
          selected_result_label: article.cycle ? article.cycle.name : '',
        } %}
      </div>
      <span class="col-auto col-form-label text-md-right">tome</span>
      <input type="text" id="article_tome" name="article_tome" value="{{ article.tome }}" class="form-control col-md-1"
             maxlength="12" />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right"
             for="article_availability_dilicom">Disponibilité</label>
      <select id="article_availability_dilicom" name="article_availability_dilicom"
              class="form-control col-md-7 col-lg-6" required>
        {{ availability_options|raw }}
      </select>
    </div>

    <div class="form-group row">
      <div class="form-check offset-md-3 offset-lg-2 col-md-10">
        <input class="form-check-input" type="checkbox" value="1" id="article_preorder"
               name="article_preorder" {{ preorder_checked }}>
        <label class="form-check-label" for="article_preorder">
          Autoriser la précommande
        </label>
      </div>
    </div>

    <div id="article_category_div" class="form-group row mb-1 {{ category_field_class }}">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_category">Catégorie</label>
      <input type="text" id="article_category" name="article_category" value="{{ article.category }}"
             class="form-control col-md-2 col-lg-1"
             title="Appuyez sur la touche &darr; pour faire apparaître la liste des catégories." />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_price">Prix</label>
      <input type="number" step="1" id="article_price" name="article_price" value="{{ article.price }}"
             class="form-control col-md-2 col-lg-1" required
             data-html="true" data-toggle="popover" data-trigger="focus"
             data-content="Entrez le prix de l’article en centimes. Par exemple, pour article à 14,00 €, entrez <strong>1400</strong> ; pour un article à 8,50 €, entrez <strong>850</strong>."
      >
      <span class="col-md-1 col-form-label">
                      centimes
                    </span>
    </div>

    <div class="form-group row mb-1">
      <div class="form-check offset-md-3 offset-lg-2 col-md-10">
        <input class="form-check-input" type="checkbox" name="article_price_editable" id="article_price_editable"
               value="1" {{ article_price_editable }}>
        <label class="form-check-label" for="article_price_editable">Autoriser les client·es à payer plus (prix
          libre)</label>
      </div>
    </div>
    <br />
  </fieldset>

  <fieldset id="duplicates_fieldset" class="hidden pointer">
    <legend id="toggle_duplicates" class="toggleThis">Doublons potentiels</legend>
    <ul id="duplicates">
    </ul>
  </fieldset>

  <fieldset id="bundle_fieldset" class="{{ bundle_fieldset_class }}">
    <legend>Contenu du lot</legend>
    <table class="table" id="bundle_articles">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Auteur·ice·s</th>
        <th>Collection</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{ bundle_articles|raw }}
      </tbody>
    </table>
    {% include "AppBundle:Utils:_entity-search-field.html.twig" with {
      query_url: "/pages/adm_article_search",
      label: "Ajouter un article au lot…",
      field_id: "add-to-bundle-search-field",
    } %}
  </fieldset>

  <fieldset id="Contributeurs">
    <legend>Contributions</legend>
    <div id="people_list"></div>

    <div class="form-group row mt-4">
      <label class="col-md-4 col-lg-3 col-form-label text-md-right">Ajouter un·e contributeur·ice</label>
      <div class="col-md-7 col-lg-6 p-0">
        {% include "AppBundle:Utils:_entity-search-field.html.twig" with {
          query_url: "/pages/article_people_search",
          label: "Rechercher par nom ou prénom…",
          field_id: "contributor-search-field",
        } %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Données bibliographiques</legend>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_subtitle">Sous titre</label>
      <input type="text" id="article_subtitle" name="article_subtitle" value="{{ article.subtitle }}"
             class="form-control col-md-9" />
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_title_original">Titre original</label>
      <input type="text" id="article_title_original" name="article_title_original" value="{{ article.titleOriginal }}"
             class="form-control col-md-9" />
    </div>

    <input type="hidden" name="article_title_others" value="{{ article.titleOthers }}" />

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_copyright">Copyright (année)</label>
      <input type="number" id="article_copyright" name="article_copyright" value="{{ article.copyright }}"
             class="form-control col-md-1" min="1800" max="2048" />
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_pubdate">Date de parution</label>
      <input type="date" id="article_pubdate" name="article_pubdate" value="{{ article.pubdate|date("Y-m-d") }}"
             class="form-control col-md-2" placeholder="AAAA-MM-JJ" />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_lang_current">Langue actuelle</label>
      <select id="article_lang_current" name="article_lang_current" class="form-control col-md-3">
        {{ lang_current_options|raw }}
      </select>
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_lang_original">Langue d'origine</label>
      <select id="article_lang_original" name="article_lang_original" class="form-control col-md-3">
        {{ lang_original_options|raw }}
      </select>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_origin_country">Pays d'origine</label>
      <select id="article_origin_country" name="article_origin_country" class="form-control col-md-3">
        <option value="0"></option>
        {{ origin_country_options|raw }}
      </select>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_age_min">Âge recommandé</label>
      <span class="col-auto col-form-label pl-0">de</span>
      <input type="text" id="article_age_min" name="article_age_min" value="{{ article.ageMin }}"
             class="form-control col-md-1" min="1" max="99" />
      <span class="col-auto col-form-label">ans à</span>
      <input type="text" id="article_age_max" name="article_age_max" value="{{ article.ageMax }}"
             class="form-control col-md-1" min="1" max="99" />
      <span class="col-md-auto col-form-label">ans</span>
    </div>

  </fieldset>

  <fieldset>
    <legend>Objet</legend>


    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_shaping">Façonnage</label>
      <select id="article_shaping" name="article_shaping" class="form-control col-md-3">
        <option>{{ article.shaping }}</option>
        <option></option>
        <option>broché</option>
        <option>broché avec rabats</option>
        <option>cartonné</option>
        <option>carré/collé</option>
        <option>cousu</option>
        <option>cousu avec rabats</option>
        <option>integra</option>
        <option>livret</option>
        <option>porte-folio</option>
        <option>relié</option>
        <option>relié sous jaquette</option>
        <option>reliure japonaise</option>
        <option>souple</option>
      </select>
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_printing_process">Impression</label>
      <select id="article_printing_process" name="article_printing_process" class="form-control col-md-3">
        <option>{{ article.printingProcess }}</option>
        <option></option>
        <option>quadrichromie</option>
      </select>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_format">Format</label>
      <input type="text" id="article_format" name="article_format" value="{{ article.format }}"
             placeholder="Ex. 14 x 20 cm" class="form-control col-md-2" />
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_pages">Pagination</label>
      <input type="text" id="article_pages" name="article_pages" value="{{ article.pages }}"
             class="form-control col-md-1" />
      <div class="col-md-1 col-form-label">pages</div>
    </div>

    <div class="form-group row mb-1">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_weight">Poids</label>
      <input type="text" id="article_weight" name="article_weight" value="{{ article.weight }}"
             class="form-control col-md-1" />
      <div class="col-md-1 col-form-label">grammes</div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Images</legend>

    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <img src="{% if article|hasImage %}{{ article|imageUrl(300) }}{% endif %}" alt=""
             style="max-width: 300px; max-height: 300px" id="article-cover-preview" />
        {% if article|hasImage %}
          <div class="form-check mt-2">
            <input type="checkbox" name="article_cover_delete" id="article_cover_delete" value="1"
                   class="form-check-input" />
            <label class="form-check-label" for="article_cover_delete">Supprimer</label>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-lg-2 col-form-label text-md-right" for="article_weight">Couverture</label>
      <div class="col-md-6 col-lg-5 p-0">
        <input type="file" id="article_cover_upload" name="article_cover_upload"
               accept="image/jpeg, image/png, image/webp" />
        <small class="form-text text-muted">Image au format JPEG, PNG ou WebP</small>
      </div>
    </div>

    <input type="hidden" id="article_cover_import" name="article_cover_import" placeholder="Adresse de l’image...">
  </fieldset>

  <fieldset>
    <legend>Fichiers téléchargeables</legend>

    <table id="dlfiles_list" class="admin-table fileUpload dropzone">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Accès</th>
        <th>v.</th>
        <th>ISBN</th>
        <th>Type</th>
        <th>Poids</th>
        <th title="Nombre de téléchargements">DL</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{ files_table|raw }}
      </tbody>
      <tfoot>
      <tr>
        <td class="center" colspan="8">
          <label class="button" for="dlfile_upload_new" data-click="dlfile_upload_new"
                 title="Vous pouvez aussi faire glisser les fichiers<br> depuis le bureau sur le tableau pour les ajouter">Ajouter
            des fichiers depuis l’ordinateur</label>
          <input type="file" id="dlfile_upload_new" data-file_id="new" class="dlfile_upload hidden event" multiple>
        </td>
      </tr>
      </tfoot>
    </table>

    {{ lemonink_id_field|raw }}
  </fieldset>

  <fieldset>
    <legend>Classifications</legend>

    <h3>Mots-clés</h3>
    <ul id="the_tags">
      {{ the_tags|raw }}
    </ul>

    <label class="floating" for="article_theme_bisac">Ajouter :</label>
    <textarea id="add_tags_input" class="medium"
              placeholder="Entrer un ou plusieurs mots-clés, séparés par des virgules...">{{ default_tags }}</textarea>
    <a id="add_tags_button" class="btn btn-primary">Ajouter</a>

    <br /><br />

    <label class="floating" for="article_theme_bisac">BISAC :</label>
    <input type="text" id="article_theme_bisac" name="article_theme_bisac" value="{{ article.themeBisac }}"
           class="medium" maxlength="16">
    <br />
    <label class="floating" for="article_theme_clil">CLIL :</label>
    <input type="text" id="article_theme_clil" name="article_theme_clil" value="{{ article.themeClil }}" class="medium"
           maxlength="16">
    <br />
    <label class="floating" for="article_theme_dewey">Dewey :</label>
    <input type="text" id="article_theme_dewey" name="article_theme_dewey" value="{{ article.themeDewey }}"
           class="medium" maxlength="16">
    <br />
    <label class="floating" for="article_theme_electre">Electre :</label>
    <input type="text" id="article_theme_electre" name="article_theme_electre" value="{{ article.themeElectre }}"
           class="medium" maxlength="16">
    <br />
  </fieldset>

  <fieldset>
    <legend>Rayons</legend>

    <h3>Rayons actuels</h3>
    <ul id="rayons">{{ current_article_categories|raw }}</ul>
    <br>

    {{ rayons_options|raw }}
  </fieldset>

  <fieldset>
    <legend>Récompenses littéraires</legend>
    <ul id="awards">
      {{ the_awards|raw }}
    </ul>
    <div class="center">
      <br />
      <a id="addAward" class="btn btn-outline-secondary">
        Ajouter une récompense
      </a>
    </div>
  </fieldset>

  <fieldset class="collapsable-fieldset" data-collapsed="{{ article_has_summary }}">
    <legend>
      Quatrième de couverture&nbsp;
      <span class="fa fa-plus-square"></span>
    </legend>
    <div class="collapsable-element">
                    <textarea id="article_summary" name="article_summary"
                              class="wysiwyg">{{ article.summary }}</textarea>
    </div>
  </fieldset>

  <fieldset class="collapsable-fieldset" data-collapsed="{{ article_has_contents }}">
    <legend>
      Sommaire&nbsp;
      <span class="fa fa-plus-square"></span>
    </legend>
    <div class="collapsable-element">
                    <textarea id="article_contents" name="article_contents"
                              class="wysiwyg">{{ article.contents }}</textarea>
    </div>
  </fieldset>

  <fieldset class="collapsable-fieldset" data-collapsed="{{ article_has_bonus }}">
    <legend>
      Bonus&nbsp;
      <span class="fa fa-plus-square"></span>
    </legend>
    <div class="collapsable-element">
                    <textarea id="article_bonus" name="article_bonus"
                              class="wysiwyg">{{ article.bonus }}</textarea>
    </div>
  </fieldset>

  <fieldset class="collapsable-fieldset"
            data-collapsed="{{ article_has_catchline }}">
    <legend>
      Accroche&nbsp;
      <span class="fa fa-plus-square"></span>
    </legend>
    <div class="collapsable-element">
                    <textarea id="article_catchline" name="article_catchline"
                              class="wysiwyg">{{ article.catchline }}</textarea>
    </div>
  </fieldset>

  <fieldset class="collapsable-fieldset"
            data-collapsed="{{ article_has_biography }}">
    <legend>
      Notice biographique&nbsp;
      <span class="fa fa-plus-square"></span>
    </legend>
    <div class="collapsable-element">
                    <textarea id="article_biography" name="article_biography"
                              class="wysiwyg">{{ article.biography }}</textarea>
    </div>
  </fieldset>

  <fieldset>
    <legend>Validation</legend>
    <div class="admin">
      <p>Validation</p>
      <button class="btn btn-primary btn-sm" type="submit" name="article_submit_and_show">Valider et aller à la fiche
      </button>
      <br>
      <button class="btn btn-primary btn-sm" type="submit" name="article_submit_and_new">Valider et créer une autre
        fiche
      </button>
      {{ submit_and_stock|raw }}
      <p><a href="https://docs.biblys.fr/administrer/catalogue/fiche-article/">Documentation</a></p>
    </div>
    <p class="center">
      <button class="btn btn-primary btn-sm" type="submit" name="article_submit_and_show">Valider et aller à la fiche
      </button>
      <br>
      <button class="btn btn-primary btn-sm" type="submit" name="article_submit_and_new">Valider et créer une autre
        fiche
      </button>
      {{ submit_and_stock|raw }}
    </p>
  </fieldset>

  <fieldset>
    <legend>Suppression</legend>
    <p class="text-center">
      <a class="btn btn-danger" href="{{ path("article_delete", { id: article.id }) }}">
        <span class="fa fa-trash-can"></span>
        Supprimer définitivement cet article
      </a>
    </p>
  </fieldset>

  <fieldset>
    <legend>Identifiants et liens</legend>

    <p class="alert alert-info">
      Ces champs sont renseigné automatiquement par Biblys..
      Ne les modifiez pas manuellement, sauf si vous savez ce que vous faites.
    </p>

    <label class="floating" for="article_title_alphabetic">Titre pour le tri :</label>
    <input type="text" id="article_title_alphabetic" name="article_title_alphabetic"
           value="{{ article.titleAlphabetic }}" class="long" placeholder="Champ rempli automatiquement" />
    <br />

    <label class="floating" for="article_url">URL Biblys :</label>
    <input type="text" id="article_url" name="article_url" value="{{ article.url }}" pattern="^[a-z0-9-_]+/[a-z0-9-_]+$"
           title="Dans le doute, laisser ce champ vide." placeholder="Champ rempli automatiquement" class="long"
           pattern="^((?!http).)*$" />
    <br /><br />

    <label class="floating" for="article_textid">TextID :</label>
    <input type="text" id="article_textid" name="article_textid" value="{{ article.textId }}" class="verylong"
           maxlength=32>
    <br />
    <label class="floating" for="article_item">Item n°</label>
    <input type="text" id="article_item" name="article_item" value="{{ article.item }}"
           class="mini article_duplicate_check event" />
    <br />
    <label class="floating" for="article_link_to">Lier à l’article n°</label>
    <input type="number" id="article_link_to" name="article_link_to" class="mini" />
    <br />
    <label class="floating" for="article_source_id">Extrait de l’article n°</label>
    <input type="number" name="article_source_id" value={{ article.sourceId }}" class=" mini" />
    <br /><br />

    <label class="floating" for="article_noosfere_id">Ref. nooSFere :</label>
    <input type="text" id="article_noosfere_id" name="article_noosfere_id" value="{{ article.noosfereId }}"
           class="article_duplicate_check event" />
    <br />
    <label class="floating" for="article_asin">Ref. Amazon :</label>
    <input type="text" id="article_asin" name="article_asin" value="{{ article.asin }}"
           class="article_duplicate_check event" />
    <br /><br />

    <label class="floating" for="article_ean_others">Autres ISBN :</label>
    <textarea id="article_ean_others" name="article_ean_others" class="small"
              title="ISBN de précédentes éditions dans la méme collection, séparés par un espace.">{{ article.eanOthers }}</textarea>
    <br /><br />
  </fieldset>

  <fieldset>
    <legend>Base de données</legend>

    <label class="floating" for="article_created" class="readonly">Fiche créée le :</label>
    <input type="text" name="article_created" id="article_created" value="{{ article.createdAt|date("Y-m-d H:i:s") }}"
           placeholder="AAAA-MM-DD HH:MM:SS" class="datetime" disabled>
    <br />
    <label class="floating" for="article_updated" class="readonly">Fiche modifiée le :</label>
    <input type="text" name="article_updated" id="article_updated" value="{{ article.updatedAt|date("Y-m-d H:i:s") }}"
           placeholder="AAAA-MM-DD HH:MM:SS" class="datetime" disabled>
    <br /><br />
  </fieldset>

</form>