{#{% extends "layout:base.html.twig" %}#}

{#{% block title %}#}
{#  Ma bibliothèque numérique#}
{#{% endblock %}#}

{#{% block main %}#}
  <h1>Ma bibliothèque numérique</h1>

  <p>
    Ci-dessous, vous retrouverez la liste de tous les livres numériques achetés sur notre plateforme. Vous pouvez les
    télécharger à volonté et dans le format qui vous convient.
  </p>
  <p>
    Besoin d'aide ? Découvrez
    <a href="/docs/ebooks">comment télécharger et lire des livres numériques</a>.
  </p>

  {% if updatesAvailable %}
    <br>
    <p class="alert alert-info">
      <span class="fa fa-refresh"></span>&nbsp;
      Certains fichiers ont été mis à jour depuis votre dernier téléchargement.
    </p>
  {% endif %}

  <br />
  <table class="ebooks">
    <tbody>
      {% for ebook in ebooks %}
        <tr class="{{ ebook.updated ? "alert alert-info" : "" }}">
          <td class="center">
            {% if ebook.article|hasCover %}
              <a href="{{ path("article_show", { slug: ebook.article.url }) }}">
                <img src="{{ ebook.article|coverUrl }}" height="100" alt="{{ ebook.article.title }}" />
              </a>
            {% endif %}
          </td>
          <td style="max-width: 50%">
            <a href="{{ ebook.article.url }}">{{ ebook.article.title }}</a>
            <br>{{ ebook.article.authors }}
          </td>
          <td class="center" style="width: 125px;">
            {% if not ebook.article.isPublished and not ebook.predownload_is_allowed %}
              À paraître le {{ ebook.article.pubdate|date('d/m') }}
            {% elseif ebook.download_links %}
              {% if ebook.article.isWatermarkable %}
                <a class="btn btn-primary"
                   href="{{ path('article_download_with_watermark', { id: ebook.article.id }) }}">
                  <span class="fa fa-{{ ebook.download_icon }}"></span>
                  &nbsp; Télécharger &nbsp;
                </a>
              {%  else %}
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                          aria-label="Ouvrir le menu de sélection du format">
                    <span class="fa fa-{{ ebook.download_icon }}"></span>
                    &nbsp; Télécharger &nbsp;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {{ ebook.download_links|join|raw }}
                  </ul>
                </div>
              {% endif %}
            {% else %}
              Aucun fichier disponible
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="center">
    <a href="/docs/ebooks">Comment télécharger et lire des livres numériques ?</a>
  </h3>
{#{% endblock %}#}