{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Mon compte {{ app.currentSite.site.title }}
{% endblock %}

{% block main %}
  <h1>Mon compte {{ app.currentSite.site.title }}</h1>

  <h2>{{ user_email }}</h2>

  <form class="form-inline" action="{{ path('user_request_email_update') }}" method="post">
    <div class="form-group">
      <label for="new_email">Adresse e-mail :</label>
      <input type="email" class="form-control ml-1 mr-1" id="new_email" name="new_email" value="{{ user_email }}">
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>

  <h2>Menu</h2>
  <ul>
    {% if app.currentSite.hasOptionEnabled("wishlist") %}
      <li>
        <a href="/pages/log_mywishes">
          <span class="fa fa-heart"></span>
          Mes envies
        </a>
      </li>
    {% endif %}

    {% if app.currentSite.hasOptionEnabled("alerts") %}
      <li>
        <a href="/pages/log_myalerts">
          <span class="fa fa-bell"></span>
          Mes alertes
        </a>
      </li>
    {% endif %}

    <li>
      <a href="{{ path("user_orders") }}">
        <span class="fa-solid fa-box"></span>
        Mes commandes
      </a>
    </li>

    {% if app.currentSite.hasOptionEnabled("show_elibrary") %}
      <li>
        <a href="{{ path('user_library') }}">
          <span class="fa fa-book"></span>
          Ma bibliothèque
        </a>
      </li>
    {% endif %}

    {% if app.currentUser.hasPublisherRight %}
      <li>
        <a href="/pages/log_dashboard">
          <span class="fa fa-home"></span>
          Gérer ma maison d'édition
        </a>
      </li>
    {% endif %}

    {% if has_axys_method %}
      <li>
        <a href="https://axys.me" rel="nofollow">
          <span class="fa fa-key"></span>
          Mon compte Axys
        </a>
      </li>
    {% endif %}

    <li>
      <a href="{{ path("user_logout") }}">
        <span class="fa fa-sign-out"></span>
        Déconnexion
      </a>
    </li>
  </ul>
{% endblock %}