{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Informations | Utilisateur·ice {{ user.email }}
{% endblock %}

{% block main %}
  {% include "AppBundle:User:_admin_navigation.html.twig" with { active: "informations" } %}

  <table class="table table-striped mt-4">
    <tr>
      <td>Adresse e-mail</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Première connexion</td>
      <td>{{ user.createdAt|date }}</td>
    </tr>
    <tr>
      <td>Dernière connexion</td>
      <td>{{ user.lastLoggedAt|date('d/m/Y H:i') }}</td>
    </tr>
    <tr>
      <td>Méthodes de connexion</td>
      <td>
        <ul>
          {% for method in user.authenticationMethods %}
            <li>
              Compte {{ method.identityProvider }} n° {{ method.externalId }}
            </li>
          {% else %}
            —
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>

  <div class="button-group mt-4" data-confirm="Voulez-vous vraiment SUPPRIMER cet utilisateur·ice ? Cette action est irréversible.">
    <form method="post" action="{{ path("user_delete", { id: user.id }) }}">
      <button type="submit" class="btn btn-danger">
        <i class="fa-solid fa-trash-can"></i>
        Supprimer
      </button>
    </form>
  </div>
{% endblock %}
