{% extends "layout:base.html.twig" %}

{% block title %}
  Utilisateur·trice·s
{% endblock %}

{% block main %}
  <h1>
    <span class="fa fa-user"></span>
    Utilisateur·ices ({{ users|length }})
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Utilisateur·ice</th>
        <th>Dernière connexion</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>
            {{ user.id }}
          </a>
        </td>
        <td>
          {{ user.email }}
          {% for method in user.authenticationMethods %}
            <span class="label label-success">
              {{ method.identityProvider }}
            </span>
          {% endfor %}
        </td>
        <td>{{ user.lastLoggedAt|date('d/m/Y H:i') }}</td>
        <td>
          <a
            href="{{ path('user_show', { id: user.id }) }}"
            class="btn btn-info"
          >
            <span class="fa fa-eye"></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
