{% extends "layout:base.html.twig" %}

{% block title %}
  Ma bibliothèque numérique
{% endblock %}

{% block main %}
  <h1>Ma bibliothèque numérique</h1>

  <p>
    Ci-dessous, vous retrouverez la liste de tous les livres numériques achetés sur notre plateforme. Vous pouvez les
    télécharger à volonté et dans le format qui vous convient.
  </p>
  <p>
    Besoin d'aide ? Découvrez
    <a href="/docs/ebooks">comment télécharger et lire des livres numériques</a>.
  </p>

  {% if updates_available %}
    <br>
    <p class="alert alert-info">
      <span class="fa fa-refresh"></span>&nbsp;
      Certains fichiers ont été mis à jour depuis votre dernier téléchargement.
    </p>
  {% endif %}

  <br />
  <table class="ebooks">
    <tbody>
      {% for item in items %}
        <tr class="{{ item.updated ? "alert alert-info" : "" }}">
          <td class="center">
            {% if item.article|hasCover %}
              <a href="{{ path("article_show", { slug: item.article.url }) }}">
                <img src="{{ item.article|coverUrl }}" height="100" alt="{{ item.article.title }}" />
              </a>
            {% endif %}
          </td>
          <td style="max-width: 50%">
            <a href="{{ item.article.url }}">{{ item.article.title }}</a>
            <br>{{ item.article.authors }}
          </td>
          <td class="center" style="width: 125px;">
            {% if not item.article.isPublished and not item.predownload_is_allowed %}
              À paraître le {{ item.article.pubdate|date('d/m') }}
            {% elseif item.downloadable_files %}
              {% if item.article.isWatermarkable %}
                <a class="btn btn-primary"
                   href="{{ path('article_download_with_watermark', { id: item.article.id }) }}">
                  <span class="fa fa-{{ item.download_icon }}"></span>
                  &nbsp; Télécharger &nbsp;
                </a>
              {%  else %}
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                          aria-label="Ouvrir le menu de sélection du format">
                    <span class="fa fa-{{ item.download_icon }}"></span>
                    &nbsp; Télécharger &nbsp;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for file in item.downloadable_files %}
                      <li>
                        <a
                          href="{{ path('file_download', { id: file.id, format: 'ext' }) }}"
                          title="v{{ file.version}} | {{ file.size }} octets | {{ file.fileType.name }}"
                          aria-label="Télécharger {{ file.fileType.name }}"
                        >
                          <img src="{{ file.fileType.icon }}" width=16 alt="Télécharger"> {{ file.fileType.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% else %}
              Aucun fichier disponible
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'AppBundle:Utils:_pagination.html.twig' %}
{% endblock %}