{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  {{ inventory.title }}
{% endblock %}

{% block main %}

  <h1>
    <span class="fa fa-check"></span> {{ inventory.title }}
  </h1>

  <form action="{{ path("inventory_show", { id: inventory.id }) }}" method="post">
  <fieldset>
    <input type="text" name="ean" id="ean" class="form-control" autocomplete="off" autofocus placeholder="Ajouter un exemplaire...">
  </fieldset>
  </form>
  <br>

  <p class="text-center">
    <a href="{{ path("inventory_show", { id: inventory.id, mode: "all" }) }}" class="btn btn-outline-secondary">Afficher tout</a>
    <a href="{{ path("inventory_show", { id: inventory.id, mode: "errors" }) }}" class="btn btn-warning">Afficher les erreurs</a>
    <a href="{{ path("inventory_import", { id: inventory.id }) }}" class="btn btn-primary">Importer le stock</a>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>EAN</th>
      <th>Qté réelle</th>
      <th>Qté en base</th>
    </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.ean }}</td>
          <td class="right">
            {% if item.has("quantity") %}
              {{ item.quantity }}
            {% else %}
              0
            {% endif %}
          </td>
          <td class="right">
            {% if item.has("stock") %}
              {{ item.stock }}
            {% else %}
              0
            {% endif %}
          </td>
          <td class="center">
            <a href="{{ path("inventory_item_remove", { inventory_id: item.inventory_id, id: item.id }) }} " title="Retirer un exemplaire">
              <span class="fa fa-minus-square"></span>
            </a>
            <a href="{{ path("inventory_item_delete", { inventory_id: item.inventory_id, id: item.id }) }} " title="Supprimer la ligne" data-confirm="Voulez-vous vraiment supprimer cette ligne ?">
              <span class="fa fa-trash-can"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
