{% extends "layout:base.html.twig" %}

{% block title %}
  {{ inventory.title }}
{% endblock %}

{% block main %}

  <h1>
    <span class="fa fa-check"></span> {{ inventory.title }}
  </h1>

  <form action="{{ path("inventory_show", { id: inventory.id }) }}" method="post">
  <fieldset>
    <input type="text" name="ean" id="ean" class="form-control" autocomplete="off" autofocus placeholder="Ajouter un exemplaire...">
  </fieldset>
  </form>
  <br>

  <p class="text-center">
    <a href="{{ path("inventory_show", { id: inventory.id, mode: "all" }) }}" class="btn btn-default">Afficher tout</a>
    <a href="{{ path("inventory_show", { id: inventory.id, mode: "errors" }) }}" class="btn btn-warning">Afficher les erreurs</a>
    <a href="{{ path("inventory_import", { id: inventory.id }) }}" class="btn btn-primary">Importer le stock</a>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>EAN</th>
      <th>Qté réelle</th>
      <th>Qté en base</th>
    </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.ean }}</td>
          <td class="right">{{ item.quantity }}</td>
          <td class="right">{{ item.stock }}</td>
          <td class="center">
            <a href="{{ path("inventory_item_remove", { inventory_id: item.inventory_id, id: item.id }) }} " title="Retirer un exemplaire">
              <span class="fa fa-minus-square"></span>
            </a>
            <a href="{{ path("inventory_item_delete", { inventory_id: item.inventory_id, id: item.id }) }} " title="Supprimer la ligne" data-confirm="Voulez-vous vraiment supprimer cette ligne ?">
              <span class="fa fa-trash-o"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
