<h1>Historique des mises à jour</h1>

{% for release in releases %}

    <h3 id="v{{release.version}}">
      <a href="{{ path('maintenance_changelog_show', { version: release.version }) }}">
        {{ release.version }}
      </a>
      ({{ release.date|date }})
    </h3>

    <p>{{ release.notes|nl2br }}</p>

{% endfor %}

<p class="events-pagination text-center">

    {% if pages.previous > -1 %}
        <a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ pages.previous }}" class="btn btn-default btn-sm">
            <span class="fa fa-chevron-circle-left"></span>
        </a>
        &nbsp;
    {% endif %}

    {% for i in 1..pages.total %}
        {% if pages.current == i %}
            <span class="pagination-page pagination-page-current">{{ i }}</span>
        {% else %}
            <a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ i - 1 }}" class="pagination-page">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if pages.next %}
        &nbsp;
        <a href="?{% if query is defined %}q={{ query|url_encode }}&amp;{% endif %}p={{ pages.next }}" class="btn btn-default btn-sm">
            <span class="fa fa-chevron-circle-right"></span>
        </a>

    {% endif %}
</p>