{% extends "layout:base.html.twig" %}

{% block title %}
  Espace disque
{% endblock %}

{% block main %}
  <h1><span class="fa fa-database"></span> Espace disque</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th class="text-center">Fichiers</th>
        <th class="text-center">Taille</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Articles (images de couverture)</td>
        <td class="text-right">{{ articlesCount }}</td>
        <td class="text-right">{{ articlesSize }} Go</td>
      </tr>
      <tr>
        <td>Exemplaires d'occasion (photos)</td>
        <td class="text-right">{{ stockItemsCount }}</td>
        <td class="text-right">{{ stockItemsSize }} Go</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="text-right">{{ totalCount }}</th>
        <th class="text-right">{{ totalSize }} Go</th>
      </tr>
    </tfoot>
  </table>
{% endblock %}
