{% extends "layout:base.html.twig" %}

{% block title %}
  Espace disque
{% endblock %}

{% block main %}
  <h1><span class="fa fa-database"></span> Espace disque</h1>

  <p class="alert alert-warning">
    <span class="fa fa-flask"></span>
    Cette fonctionnalité est encore expérimentale et peut ne pas refléter exactement la réalité.
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th class="text-center">Fichiers</th>
        <th class="text-center">Taille</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Articles (images de couverture)</td>
        <td class="text-right">{{ articlesCount }}</td>
        <td class="text-right">{{ articlesSize }} Go</td>
      </tr>
      <tr>
        <td>Éditeurs (logos)</td>
        <td class="text-right">{{ publishersCount }}</td>
        <td class="text-right">{{ publishersSize }} Go</td>
      </tr>
      <tr>
        <td>Exemplaires d'occasion (photos)</td>
        <td class="text-right">{{ stockItemsCount }}</td>
        <td class="text-right">{{ stockItemsSize }} Go</td>
      </tr>
      <tr>
        <td>Billets de blog (illustrations)</td>
        <td class="text-right">{{ postIllustrationsCount }}</td>
        <td class="text-right">{{ postIllustrationsSize }} Go</td>
      </tr>
      <tr>
        <td>Médias</td>
        <td class="text-right">{{ mediaFilesCount }}</td>
        <td class="text-right">{{ mediaFilesSize }} Go</td>
      </tr>
      <tr>
        <td>Fichiers téléchargeables</td>
        <td class="text-right">{{ downloadableFilesCount }}</td>
        <td class="text-right">{{ downloadableFilesSize }} Go</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="text-right">{{ totalCount }}</th>
        <th class="text-right">{{ totalSize }} Go</th>
      </tr>
    </tfoot>
  </table>
{% endblock %}
