{% extends "layout:base.html.twig" %}

{% block title %}
  Modifier la collection {{ collection.name }}
{% endblock %}

{% block main %}
  <h1>
    Modifier la collection
    <a href="{{ path("collection_show", { slug: collection.url }) }}">{{ collection.name }}</a>
  </h1>

  {% if error %}
    <p class="alert alert-danger">{{ error }}</p>
  {% endif %}

  {% include 'AppBundle:Publisher:_form.html.twig' %}

  <p>
    <a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails">
      Informations supplémentaires &raquo;
    </a>
  </p>
  <form id="viewdetails" class="collapse fieldset">
    <fieldset>
      <p>
        <label class="after">Identifiant :</label>
        <input value="{{ collection.id }}" class="form-control" readonly>
      </p>
      <p>
        <label class="after">Slug :</label>
        <input value="{{ collection.url }}" class="form-control" readonly>
      </p>
      <p>
        <label class="after">Date de création :</label>
        <input value="{{ collection.has('created') ? collection.created }}" class="form-control" readonly>
      </p>
      <p>
        <label class="after">Date de modification :</label>
        <input value="{{ collection.has('updated') ? collection.updated }}" class="form-control" readonly>
      </p>
    </fieldset>
  </form>
{% endblock %}