{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:email-layout.html.twig" %}

{% block subject %}
  Alerte de sécurité : nouvel·le admin ajouté·e
{% endblock %}

{% block preview %}
  {{ email }} a été ajouté·e aux admins de {{ app.currentSite.title }}
{% endblock %}

{% block content %}
  <h1>
    Alerte de sécurité : nouvel·le admin ajouté·e
  </h1>
  <p>L'utilisateur·ice <strong>{{ email }}</strong> a été ajouté·e aux admins du site {{ app.currentSite.title }}.</p>
  <p>Si vous reconnaissez pas cette adresse, supprimez-là immédiatement des admins du site.</p>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td>
              <a href="{{ adminsPageUrl }}" target="_blank">
                Gérer les admins
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
{% endblock %}